<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqKF76VXxta31PfrwBv8SWL5upE24aVV8</string>
	<key>GCM_SENDER_ID</key>
	<string>299843107216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kttprojects.shinePortal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shineportal-ktt</string>
	<key>STORAGE_BUCKET</key>
	<string>shineportal-ktt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299843107216:ios:1af5502e064310ea91db15</string>
</dict>
</plist>